// http://bourbon.io/ Sass Mixin Library
@import "bourbon";

// colors, fonts, sizes etc...
@import "libs/vars";

// custom mixins
@import "libs/mixins";

// #main {
//     background: rgba($white, 0.8);
// }

#player-nav {
    @include animation(header 1s 1s forwards);
    @include backface-visibility(hidden);
    @include transform(translate3d(0, 0, 0));
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    li {
        display: inline-block;
        background: rgba($white,0.4);
        height: 40px;
        width: 40px;
        line-height: 40px;
        @include border-radius(0);
        @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));

        &:hover {
            background: rgba($white,0.8);

            a {
                color: $black;
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 15px;
            color: rgba($black,0.5);
        }
    }
}

.YTPOverlay {
    background: rgba($white, 0.8);
}

.vegas-overlay {
    display: none;
}