<!DOCTYPE html>
<html lang="ru-us" class="no-js">
    
    <head>
        <meta charset="utf-8">
        <title>PЛЧ</title>

		
        <!-- ============== Resource style ============== -->
		<link rel="stylesheet" href="/static/assets/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.3.4/css/bootstrap-slider.css">

		<!-- Modernizr runs quickly on page load to detect features -->
		<script src="/static/assets/js/modernizr.js"></script>
		
		
		<style>
			.slider-horizontal {
				margin-left: 10px;
				margin-right: 10px;
			}
		
		</style>
    </head>

	<body>

		<div id="wrapper">

			<div id="main">
			     
				<!-- Canvas displaying the constellation effect -->
				<canvas id="background"></canvas>

				<!-- Header -->
				<header id="header">

					
					<h2>Можем применить фильтры</h2>
					
					<form id="filter-form">
					<section class="flat-row mail-chimp">
			            <div class="container">
				            <div class="row">
					          <div class="col-sm-3">
						       <div class="text"><h4>Скорость</h4></div>
					          </div>
							  <div class="col-sm-4">
							   <input class="min-max-range span2" id="sliderSpeed" type="text" name="speed"/>
					          </div>
				            </div>
			            </div>
		            </section>
					
					<section class="flat-row mail-chimp">
			            <div class="container">
				            <div class="row">
					          <div class="col-sm-3">
						       <div class="text"><h4>Звездочки</h4></div>
					          </div>
							  <div class="col-sm-4">
							   <input class="min-max-range span2" id="sliderStars" type="text" name="stars"/>
					          </div>
				            </div>
			            </div>
		            </section>
					
					<section class="flat-row mail-chimp">
			            <div class="container">
				            <div class="row">
					          <div class="col-sm-3">
						       <div class="text"><h4>Строки</h4></div>
					          </div>
							  <div class="col-sm-4">
							   <input class="min-max-range span2" id="sliderCommits" type="text" name="commits"/>
					          </div>
				            </div>
			            </div>
		            </section>
					
					<section class="flat-row mail-chimp">
			            <div class="container">
				            <div class="row">
					          <div class="col-sm-3">
						       <div class="text"><h4>Форки</h4></div>
					          </div>
							  <div class="col-sm-4">
							   <input class="min-max-range span2" id="sliderForks" type="text" name="forks"/>
					          </div>
				            </div>
			            </div>
		            </section>
					</form>
					<nav>
						<ul>
							<li>
								 <a href="/" id="init-lang">
								<button type="button" class="btn btn-danger offset-3 btn-lg" style="margin-right:500px;" aria-pressed="/">Назад</button></a>
							</li>	
						
							<li>
							    <a href="#" id="filter-action">
							    <button type="button" class="btn btn-primary offset-8 btn-lg" aria-pressed="index-basic3.html">Применить</button></a>
							</li>
							
						
	
							<!-- <li>
							    <a href="index-basic2.html">
							    <button type="button" class="btn btn-primary offset-8 btn-lg" href="index-basic2.html">Выгрузить в файл</button></a>
							</li> -->
						</ul>
					</nav>
					
					
					
				</header>
				
			        <section class="flat-row mail-chimp2">
			            <div class="container">
				            <div class="row">
					          <div class="col-sm-3">
						       <div class="text"><h4>Скорость</h4></div>
					          </div>
							   <div class="col-sm-3">
                               <!-- LINE CHART -->
                               
                                    <div class="box-header with-border">     
                                         <div class="box-body">
                                             <div class="chart">
                                              <canvas id="speedChart" height="500" width="500"></canvas>
                                             </div>
                                         </div>
                                          <!-- /.box-body -->
                                    </div>
                                        <!-- /.box -->
                             <!-- /.box -->
							   </div>
				            </div>
			            </div>
		            </section>
					
					<section class="flat-row mail-chimp2">
			            <div class="container">
				            <div class="row">
					          <div class="col-sm-3">
						       <div class="text"><h4>Звездочки</h4></div>
					          </div>
							  <div class="col-sm-3">
							  <!-- BAR CHART -->
                             <div class="box box-success">
                                
                                  <div class="box-body">
                                       <div class="chart">
                                             <canvas id="starsChart" height="500" width="500""></canvas>
                                        </div>
                                  </div>
                                    <!-- /.box-body -->
                             </div>
                             <!-- /.box -->
							   </div>
				            </div>
			            </div>
		            </section>
					
					<section class="flat-row mail-chimp2">
			            <div class="container">
				            <div class="row">
					          <div class="col-sm-3">
						       <div class="text"><h4>Количество строк</h4></div>
					          </div>
							  <div class="col-sm-3">
							   <!-- LINE CHART -->
                               
                                    <div class="box-header with-border">     
                                         <div class="box-body">
                                             <div class="chart">
                                              <canvas id="commitsChart" height="500" width="500"></canvas>
                                             </div>
                                         </div>
                                          <!-- /.box-body -->
                                    </div>
                                        <!-- /.box -->
                             <!-- /.box -->
							   </div>
				            </div>
			            </div>
		            </section>
					
					<section class="flat-row mail-chimp2">
			            <div class="container">
				            <div class="row">
					          <div class="col-sm-3">
						       <div class="text"><h4>Форки</h4></div>
					          </div>
							  <div class="col-sm-3">
							      <!-- LINE CHART -->
                               
                                    <div class="box-header with-border">     
                                         <div class="box-body">
                                             <div class="chart">
                                              <canvas id="forksChart" height="500" width="500"></canvas>
                                             </div>
                                         </div>
                                          <!-- /.box-body -->
                                    </div>
                                        <!-- /.box -->
                             <!-- /.box -->
							   </div>
				            </div>
			            </div>
		            </section>
				
			</div>
			


		</div>

		<!-- Footer -->
		<footer id="footer">
			<span class="copyright">&copy; ETU 2018</span>
		</footer>

		<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
        <!-- ********** Resources jQuery ********** -->
        <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->

		<!-- * Libraries jQuery and Bootstrap - Be careful to not remove them * -->
		<script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/assets/js/bootstrap.min.js"></script>
		
		<!-- Swipebox plugin -->
		<script src="/static/assets/js/jquery.swipebox.js"></script>

		<!-- Constellation effect -->
        <script src="/static/assets/js/constellation.js"></script>

		<!-- Background plugin -->
		<script src="/static/assets/js/vegas.js"></script>
		
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.3.4/bootstrap-slider.js"></script>

		<!-- Background settings -->
        <script>
           //$('input[type="range"]').rangeslider();
		   $(document).ready(function(){
			 
		   });
        </script>
		
		<script>



		</script>
		
		<script src="/static/assets/js/Chart.js"></script>
<!-- page script -->
<script>

	  var sliderSpeed = new Slider("#sliderSpeed", { id: "sliderSpeed", min: 0, max: 50000, range: true, value: [0, 50000], tooltip: "always" });
	  var sliderStars = new Slider("#sliderStars", { id: "sliderStars", min: 0, max: 50000, range: true, value: [0, 50000], tooltip: "always" });
	  var sliderCommits = new Slider("#sliderCommits", { id: "sliderCommits", min: 0, max: 50000, range: true, value: [0, 50000], tooltip: "always" });
	  var sliderForks = new Slider("#sliderForks", { id: "sliderForks", min: 0, max: 50000, range: true, value: [0, 50000], tooltip: "always" });
	  
	  
		var starsCanvas                   = $('#starsChart').get(0).getContext('2d');
		var forksCanvas                   = $('#forksChart').get(0).getContext('2d');
		var speedCanvas                   = $('#speedChart').get(0).getContext('2d');
		var commitsCanvas                 = $('#commitsChart').get(0).getContext('2d')

		var barChart1                         = new Chart(starsCanvas);
		var barChart2                         = new Chart(speedCanvas);
		var barChart3                         = new Chart(commitsCanvas);
		var barChart4                         = new Chart(forksCanvas);
	  
	  var filterMax = 0;

		function filterData(){
			var speed_data  = $('input[name=speed]').val().split(",");
			var stars_data  = $('input[name=stars]').val().split(",");
			var commits_data  = $('input[name=commits]').val().split(",");
			var forks_data  = $('input[name=forks]').val().split(",");
						
			var url = "http://localhost:5000/list?speedFrom="+speed_data[0]+'&speedTo='+speed_data[1]+'&starsFrom='+stars_data[0]+'&starsTo='+stars_data[1]+'&sizeFrom='+commits_data[0]+'&sizeTo='+commits_data[1]+'&forksFrom='+forks_data[0]+'&forksTo='+forks_data[1];
			$.get( url, function( data ) {
				showData(data);
			}, "json")
			.fail(function() {
			   alert("API error");
			});	
			
			
		}
		
		function showData(data) {
		
			if (filterMax) {
				if (barChart1) {
					barChart1.destroy();
				}
			
				if (barChart2) {
					barChart2.destroy();
				}
				
				if (barChart3) {
					barChart3.destroy();
				}
				
				if (barChart4) {
					barChart4.destroy();
				}
			}
			
		
			var dataSpeed = {};
			var dataStars = {};
			var dataCommits = {};
			var dataForks = {};
			
			var dataCount = {};
			
			var dataMax = {"speed": 0, "forks": 0, "stars": 0, "commits": 0};
		
		
			jQuery.each( data.data, function( i, val ) {
			
				if (!dataCount[val.language]) {
					dataCount[val.language] = 0;
				}
				
				if (!dataSpeed[val.language]) {
					dataSpeed[val.language] = 0;
				}
				
				if (!dataStars[val.language]) {
					dataStars[val.language] = 0;
				}
				
				if (!dataCommits[val.language]) {
					dataCommits[val.language] = 0;
				}
				
				if (!dataForks[val.language]) {
					dataForks[val.language] = 0;
				}
				
				dataSpeed[val.language] = parseFloat(dataSpeed[val.language]) + parseFloat(val.speed);
				dataStars[val.language] = dataStars[val.language] + val.stargazers_count;
				// В ответе от сервера нет поля с количеством коммитов. Пока оставил size, надо заменить!
				dataCommits[val.language] = dataCommits[val.language] + val.size;
				dataForks[val.language] = dataForks[val.language] + val.forks;
				
				dataCount[val.language] += 1;
				
				if (dataMax.speed < val.speed) {
					dataMax.speed = parseInt(val.speed)+1;
				}
			
				
				if (dataMax.stars < val.stargazers_count) {
					dataMax.stars = val.stargazers_count+1;
				}

				if (dataMax.commits < val.size) {
					dataMax.commits = val.size+1;
				}

				if (dataMax.forks < val.forks) {
					dataMax.forks = val.forks+1;
				}				
				
			});
			
		
			$('input[name=speed]').val("0,"+dataMax.speed);
			$('input[name=stars]').val("0,"+dataMax.stars);
			$('input[name=commits]').val("0,"+dataMax.commits);
			$('input[name=forks]').val("0,"+dataMax.forks);
			
			console.log("0,"+dataMax.speed);
			
			var langs = $.map(dataCount, function(element,index) {return index});
			
			
			
			for (var key in dataCount) {
			  if (dataCount.hasOwnProperty(key)) {
					dataStars[key] = dataStars[key] / dataCount[key];
					dataSpeed[key] = dataSpeed[key] / dataCount[key];
					dataCommits[key] = dataCommits[key] / dataCount[key];
					dataForks[key] = dataForks[key] / dataCount[key];
			  }
			}
			
			if (!filterMax) {
				sliderSpeed.destroy();
				sliderStars.destroy();
				sliderCommits.destroy();
				sliderForks.destroy();
				
				sliderSpeed = new Slider("#sliderSpeed", { id: "sliderSpeed", min: 0, max: dataMax.speed, range: true, value: [0, dataMax.speed], tooltip: "always" });
				sliderStars = new Slider("#sliderStars", { id: "sliderStars", min: 0, max: dataMax.stars, range: true, value: [0, dataMax.stars], tooltip: "always" });
				sliderCommits = new Slider("#sliderCommits", { id: "sliderCommits", min: 0, max: dataMax.commits, range: true, value: [0, dataMax.commits], tooltip: "always" });
				sliderForks = new Slider("#sliderForks", { id: "sliderForks", min: 0, max: dataMax.forks, range: true, value: [0, dataMax.forks], tooltip: "always" });		
				
				filterMax = 1;
			}
			
	var areaSpeedData = {
      labels  : Object.keys(dataSpeed),
      datasets: [
        {
          label               : 'Скорость',
          fillColor           : '#00a65a',
          strokeColor         : '#00a65a',
          pointColor          : '#00a65a',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : Object.values(dataSpeed)
        },
      ]
    }
	
	  var areaStarsData = {
      labels  : Object.keys(dataStars),
      datasets: [
        {
          label               : 'Звездочки',
          fillColor           : '#00a65a',
          strokeColor         : '#00a65a',
          pointColor          : '#00a65a',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : Object.values(dataStars)
        }
      ]
    }
	
	  var areaCommitsData = {
      labels  : Object.keys(dataCommits),
      datasets: [
        {
          label               : 'Коммиты',
          fillColor           : '#00a65a',
          strokeColor         : '#00a65a',
          pointColor          : '#00a65a',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : Object.values(dataCommits)
        }
      ]
    }
	
	  var areaForksData = {
      labels  : Object.keys(dataForks),
      datasets: [
        {
          label               : 'Форки',
          fillColor           : '#00a65a',
          strokeColor         : '#00a65a',
          pointColor          : '#00a65a',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : Object.values(dataForks)
        }
      ]
    }
	
    //-------------
    //- BAR CHART -
    //-------------
	
	barChart1                         = new Chart(starsCanvas);
	barChart2                         = new Chart(speedCanvas);
	barChart3                         = new Chart(commitsCanvas);
	barChart4                         = new Chart(forksCanvas);
	
	

    var barChartData                     = areaStarsData
    var barChartOptions                  = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero        : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : true,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - If there is a stroke on each bar
      barShowStroke           : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth          : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing         : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing       : 1,
      //String - A legend template
      legendTemplate          : '',
      //Boolean - whether to make the chart responsive
      responsive              : true,
      maintainAspectRatio     : true
    }

    barChartOptions.datasetFill = false
    barChart1 = barChart1.Bar(barChartData, barChartOptions)
	
	
	

    var barChartData                     = areaSpeedData
    var barChartOptions                  = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero        : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : true,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - If there is a stroke on each bar
      barShowStroke           : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth          : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing         : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing       : 1,
      //String - A legend template
      legendTemplate          : '',
      //Boolean - whether to make the chart responsive
      responsive              : true,
      maintainAspectRatio     : true
    }

    barChartOptions.datasetFill = false
    barChart2 = barChart2.Bar(barChartData, barChartOptions)
	
	
    var barChartData                     = areaCommitsData
    var barChartOptions                  = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero        : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : true,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - If there is a stroke on each bar
      barShowStroke           : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth          : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing         : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing       : 1,
      //String - A legend template
      legendTemplate          : '',
      //Boolean - whether to make the chart responsive
      responsive              : true,
      maintainAspectRatio     : true
    }

    barChartOptions.datasetFill = false
    barChart3 = barChart3.Bar(barChartData, barChartOptions)
	
    var barChartData                     = areaForksData
    var barChartOptions                  = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero        : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : true,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - If there is a stroke on each bar
      barShowStroke           : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth          : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing         : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing       : 1,
      //String - A legend template
      legendTemplate          : '',
      //Boolean - whether to make the chart responsive
      responsive              : true,
      maintainAspectRatio     : true
    }

    barChartOptions.datasetFill = false
    barChart4 = barChart4.Bar(barChartData, barChartOptions)
			
		}

  $(function () {
	  filterData();
	  
	  $("#filter-action").click(function(){
		filterData();
	  });
	  
	  

  })
</script>


		<!-- Main JS -->
		<script src="/static/assets/js/main.js"></script>

	</body>
</html>