<!DOCTYPE html>
<html lang="ru-us" class="no-js">
    
    <head>
        <meta charset="utf-8">
        <title>PЛЧ</title>

		
        <!-- ============== Resource style ============== -->
		<link rel="stylesheet" href="/static/assets/css/main.css">

		<!-- Modernizr runs quickly on page load to detect features -->
		<script src="/static/assets/js/modernizr.js"></script>
    </head>

	<body>

		<div id="wrapper">

			<div id="main">
			     
				<!-- Canvas displaying the constellation effect -->
				<canvas id="background"></canvas>

				<!-- Header -->
				<header id="header">

					<h2>Что будем грузить в базу?</h2>
					<form id="lang-form">
					<section class="flat-row mail-chimp1">
			            <div class="container">
				            <div class="row">
					          <div class="checkbox">
					            <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="CSS">CSS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                                <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="Python">Python&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                              </div>
				            </div>
							<div class="row">
							  <div class="checkbox">
                               <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="C#">C#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                               <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="Ruby">Ruby&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
					          </div>
					        </div>
					        <div class="row">
							  <div class="checkbox">
                               <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="Java">Java&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                               <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="HTML">HTML&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
					          </div>
					        </div>
                            <div class="row">
							  <div class="checkbox">
					           <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="JavaScript">JavaScript</label></div>
                               <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="PHP">PHP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
					          </div>
					        </div>
					        <div class="row">
							  <div class="checkbox">
					           <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="Shell">Shell&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                               <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" class="lang-check" name="languages[]" value="Go">Go&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
					          </div>
							</div>
			            </div>
		            </section>
					</form>
					<nav>
						<ul>
							<li>
								 <a href="dataRep">
								<button type="button" class="btn btn-primary offset-8 btn-lg" aria-pressed="dataRep">Загрузить из гита</button></a>
							</li>

							
							
							<li>
							    <a href="#">
							    <button type="button" class="btn btn-primary offset-8 btn-lg" onclick="document.getElementById('fileInput').click();">Загрузить из файла</button></a>
							</li>
							
							<p id="fileName"></p>
						
                            <input type = "file" id="fileInput" style="display:none;"  onchange="fileSelected(this)">
							
						</ul>
					</nav>
					
					<nav>
						<ul>
							<li>
								 <a href="/step2" id="init-lang">
								<button type="button" class="btn btn-primary offset-8 btn-lg" aria-pressed="/step2">Перейти далее</button></a>
							</li>	
						</ul>
					</nav>
				</header>

			</div>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<span class="copyright">&copy; ETU 2018</span>
		</footer>

		<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
        <!-- ********** Resources jQuery ********** -->
        <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->

		<!-- * Libraries jQuery and Bootstrap - Be careful to not remove them * -->
		<script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/assets/js/bootstrap.min.js"></script>

		<!-- Swipebox plugin -->
		<script src="/static/assets/js/jquery.swipebox.js"></script>

		<!-- Constellation effect -->
        <script src="/static/assets/js/constellation.js"></script>

		<!-- Background plugin -->
		<script src="/static/assets/js/vegas.js"></script>

		<!-- Background settings -->
		<script>
		
			function fileSelected(input){
				$('#fileName').html("Файл: " + input.files[0].name);
			}
			
		    $('body').vegas({
		        slides: [
		            { src: '/static/assets/img/pic1.jpg' }
		        ]
		    });

		</script>

		<script>

        jQuery(document).ready(function($){

			$('.lang-check').click(function(){
				var mistake=1;
				$( ".lang-check" ).each(function( index ) {
					if ($(this).prop('checked')==checked){
						mistake=0;
					}
				});
				if (mistake==1){
					alert('mistake');
				}
			});
		
			$('#init-lang').click(function(event){
				event.preventDefault();
				var lang_data = $('#lang-form').serialize();
				
				if (lang_data != '') {
					$.get( "http://localhost:5000/init?"+lang_data, function( data ) {
						window.location.href = '/step2';
					}, "json")
					.fail(function() {
					   $("#rep")
						   .append('<br/><p style="color:red">Oops! Error with XMLHttpRequest</p>')
					});	
				}			
			});
    });
</script>
		
		<!-- Main JS -->
		<script src="/static/assets/js/main.js"></script>

	</body>
</html>