<!DOCTYPE html>
<html lang="ru-us" class="no-js">
    
    <head>
        <meta charset="utf-8">
        <title>PЛЧ</title>
        <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Madeon08">
		
        <!-- ============== Resource style ============== -->
		<link rel="stylesheet" href="assets/css/main.css">

		<!-- Modernizr runs quickly on page load to detect features -->
		<script src="assets/js/modernizr.js"></script>
    </head>

	<body>

		<div class="loading-part">
			<div class="loader-home">Loading...</div>
		</div>

		<div id="wrapper">

			<div class="lines-overlay"></div>

			<div id="main">
			     
				<!-- Canvas displaying the constellation effect -->
				<canvas id="background"></canvas>

				<!-- Header -->
				<header id="header">

					<h2>Что будем грузить в базу?</h2>
						
					<section class="flat-row mail-chimp1">
			            <div class="container">
				            <div class="row">
					          <div class="checkbox">
					            <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" value="">CSS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                                <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" value="">Python&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                              </div>
				            </div>
							<div class="row">
							  <div class="checkbox">
                               <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" value="">C#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                               <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" value="">Ruby&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
					          </div>
					        </div>
					        <div class="row">
							  <div class="checkbox">
                               <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" value="">Java&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                               <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" value="">HTML&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
					          </div>
					        </div>
                            <div class="row">
							  <div class="checkbox">
					           <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" value="">JavaScript</label></div>
                               <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" value="">PHP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
					          </div>
					        </div>
					        <div class="row">
							  <div class="checkbox">
					           <div class="col-xs-2"><label class="checkbox-inline"><input type="checkbox" value="">Shell&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                               <div class="col-xs-3"><label class="checkbox-inline"><input type="checkbox" value="">Go&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
					          </div>
							</div>
			            </div>
		            </section>
					
					<nav>
						<ul>
							<li>
								 <a href="index-basic2.html">
								<button type="button" class="btn btn-info btn-lg" aria-pressed="index-basic2.html">Загрузить из гита</button></a>
							</li>

							<li>
							    <a href="#">
							    <button type="button" class="btn btn-info btn-lg" onclick="document.getElementById('fileInput').click();">Загрузить из файла</button></a>
							</li>
							
							<p id="fileName"></p>
						
                            <input type = "file" id="fileInput" style="display:none;"  onchange="fileSelected(this)">
							
						</ul>
					</nav>
				</header>

			</div>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<span class="copyright">&copy; ETU 2018</span>
		</footer>

		<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
        <!-- ********** Resources jQuery ********** -->
        <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->

		<!-- * Libraries jQuery and Bootstrap - Be careful to not remove them * -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- Swipebox plugin -->
		<script src="assets/js/jquery.swipebox.js"></script>

		<!-- Constellation effect -->
        <script src="assets/js/constellation.js"></script>

		<!-- Background plugin -->
		<script src="assets/js/vegas.js"></script>

		<!-- Background settings -->
		<script>
		
			function fileSelected(input){
				$('#fileName').html("Файл: " + input.files[0].name);
			}
			
		    $('body').vegas({
		        slides: [
		            { src: 'assets/img/pic1.jpg' }
		        ]
		    });

		</script>

		<!-- Main JS -->
		<script src="assets/js/main.js"></script>

	</body>
</html>